  {% include 'sitio/cabecera.html' %}
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenidos</h1>
        <p class="col-md-8 fs-4">¿Eres un amante de la lectura? ¿Tienes una colección de libros que ya no lees y te gustaría darles una segunda oportunidad? ¡No busques más! Este es el lugar perfecto para ti. Aquí podrás vender esos libros que ya no necesitas y, al mismo tiempo, descubrir nuevas joyas literarias.</p>
        <p class="lead">
          <a href="/libros" class="btn btn-success btn-lg">Ver libros disponibles</a>
        </p>
      </div>
      </div>
  {% include 'sitio/pie.html' %}